body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    text-align: center;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #878787;
    padding: 15px;
    text-align: left;
}

form {
    margin: 5px;
    padding: 10px;
}

input {
    margin: 10px;
}

button {
    color: white;
    background-color: #878787;
    font-size: small;
    margin-top: 15px;
    margin: 15px;
    scale: 1.3;
}